@font-face {
    font-family: 'PixelFont';
    src: url('fonts/pixelfont.ttf') format('truetype');
}

body {
    background-image: url(background/stars.png);
    animation: translate-background 40s linear infinite;
    font-family: 'PixelFont', sans-serif;
    margin: 0;
    padding: 0;
}

@keyframes translate-background {
    0% {
        background-position: center 0%;
    }
    100% {
        background-position: center 1000px;
    }
}

main {
    max-width: 1300px;
    min-height: 100vh;
    background-color: rgb(15, 15, 15);
    backdrop-filter: blur(2px);
    position: relative;
    margin: 0 auto;
}

.title {
    display: flex;
    justify-content: left;
    color: #fffefe;
    padding-left: 60px;
    padding-top: 10px;
}

nav img {
    width: 25px;
    height: 25px;
    margin: 10px;
    cursor: pointer;
    transition-duration: 0.5s;
}

nav img:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
}

nav {
    display: flex;
    justify-content: right;
    padding: 10px;
    padding-right: 40px;
    padding-top: 25px;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1
}

nav #morebutton {
}

nav #morebutton.open  {
    transform: rotate(90deg);
}