@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glegoo:wght@400;700&display=swap');

:root {
    --primary: #121212;
    --primary-transparent: #12121280;
    --secondary: #ffffff;
    --tertiary: #ff5468;
    --text-primary: #282828;
    --text-secondary: #ffffff;
    --border-colour: #696969;
    --svg-colour: #282828;
}

body {
    background-image: url("../images/stars.png");
    animation: translate-background 50s linear infinite;
    font-family: "Glegoo", serif;
    color: var(--text-secondary);
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
}

@keyframes translate-background {
    0% {
        background-position: center 0%;
    }
    100% {
        background-position: center 1000px;
    }
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar h1 {
    font-family: "VT323", monospace;
    font-size: 3em;
    margin-top: 15px;
    margin-left: 25px;
}

#navbar a {
    text-decoration: none;
    color: var(--text-secondary);
}

#navbar ul {
    display: flex;
}

#navbar ul a {
    display: flex;
    justify-content: center;
    margin: 15px;
}

#navbar-options {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 25px;
}

.open {
    rotate: 90deg;
}

.hidden {
    display: none;
}

#content-area {
    display: flex;
    flex-direction: row;
}

#left-side {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: 100vh;
}

#right-side {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 100vh;
}

.title {
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    border-bottom: var(--border-colour) 1px solid;
    text-align: center;
    margin-bottom: 0px;
}

#projects {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}

.project-card {
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    margin: 0 auto;
    border-top: var(--border-colour) 1px solid;
    margin-bottom: 15px;
    padding: 15px;
    width: fit-content;
    height: fit-content;
}

.project-card img {
    width: 480px;
    height: 360px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 24px;
}

.project-card-details {
    display: flex;
    flex-direction: column;
    width: 640px;
    margin-left: 25px;
}

.project-card-title {
    display: flex;
    justify-content: space-between;
}

.project-card-title h3 {
    font-size: 1.1em;
    font-style: italic;
    margin: 0px;
    margin-top: 15px;
}

.project-card-title p {
    font-size: 1em;
    margin: 0px;
    margin-top: 15px;
}

.project-card-description p {
    margin: 0px;
    font-size: 1em;
}

.project-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: var(--border-colour) 1px solid;
    align-items: center;
}

.project-card-footer a {
    margin-top: 15px;
}

.project-card-footer img {
    width: 35px;
    height: 35px;
}

#intro-card {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    margin-bottom: 45vh;
}

#intro-image-content img {
    height: 320px;
    border-radius: 50%;
    border: var(--tertiary) 5px solid;
}

#intro-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#intro-text-content h2 {
    font-size: 1.2em;
    margin: 0px;
}

#intro-text-content h1 {
    font-size: 3em;
    margin: 0px;
}

#intro-text-content p {
    font-size: 1.5em;
    margin: 0px;
}

#intro-text-content em {
    color: var(--tertiary);
    font-style: italic;
}

.quick-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
    width: 120px;
}

.quick-links img {
    height: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
}

#about {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

#about-content {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

#quick-links {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    height: 240px;
    margin-top: 8px;
}

#quick-links h2 {
    margin: 0px;
}

#quick-links-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    width: 80%;
    padding-top: 15px;
    justify-content: space-evenly;
}

#quick-links-content img {
    height: 40px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 auto;
}


@media screen and (max-width: 1100px) and (orientation: portrait) {
    #navbar {
        flex-direction: column;
    }
    
    #navbar ul {
        flex-direction: column;
        width: 100%;
    }

    #navbar h1 {
        font-size: 5em;
        margin: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    #navbar ul {
        font-size: 2.5em;
        margin: 0px;
    }

    #navbar-options {
        flex-direction: column;
        margin: 0px;
    }

    #burgermenu {
        display: block;
    }

    #navbar ul {
        display: none;
        padding: 0px;
    }

    .project-card {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 800px;
    }

    .project-card-details {
        margin: 0 auto;
        width: 100%;
    }

    .project-card img {
        width: 100%;
        height: 100%;
    }

    #content-area {
        display: flex;
        flex-direction: column;
    }

    #left-side {
        width: 100%;
    }
    
    #right-side {
        width: 100%;
    }

}